body {
  font-family: georgia, times, serif;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 0;
}

h1{
  font-size: 2rem;
  line-height: 1.3em;
}



.container{
  width: 85%;
  max-width: 1270px;
  margin: 0 auto;
}

.header{
  background: #333;
  color: white;
  padding: 0 0;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
}

  .header a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 3rem;
  }

.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin: 0;
  flex-wrap: wrap;
}


#menu-icon{
  display: none;
}

.navigation ul{
  margin: 0;
  padding: 0 2rem;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}
  .navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4 linear;
    border-radius: 5px;
  }

  .navigation ul li a:hover{
    background: #4a4a4a;
  }

  .main {
    margin-top: 8.5rem;
    background-color: rgb(240, 240, 208);
  }

  section#banner {
    height: 100%;
    width: 100%;
    background-image: url(img/banner.JPG);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index:-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #rectangle{
    width: 50%;
    height: 25%;
    background: rgb(255, 255, 255);
    display: inline-block;
    position: absolute;
    align-items: center;
  }

  #message {
    font-size: 2vw;
    padding: 1rem;
    line-height: auto;
    margin: 0%;
    align-content: flex-start;
    line-height: 150%;
  }

  .footer{
    background: #747474;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 0px;

  }

  

  @media only screen and (min-width: 1060px){
    #message {
      font-size: 1.5vw;
    }
  }

  @media only screen and (max-width: 813px){
    section#banner {
      height: 100%;
      width: 100%;
      background-image: url(img/banner.JPG);
      background-attachment: fixed;
      background-position-y: 0px;
      background-repeat: no-repeat;
      background-size: cover;
      z-index:-1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

@media only screen and (max-width: 767px){

  .menu-icon{
    display: block;
    padding: 0.5rem 2rem;
    cursor: pointer;
  }
  #menu-icon{
    display: block;
    padding: 0.5rem 2rem;
    cursor: pointer;
  }

  .navigation{
    width: 100%;
  }

  .navigation ul{
    display: none;
  }
  .navigation ul.show{
    display: unset;
  }

  .navigation ul li {
    display: block;
  }
    .navigation ul li a {
      display: block;
      padding: 0.5rem 3rem;
      transition: all 0.4 linear;
      border-radius: 5px;
    }
  
    .navigation ul li a:hover{
      background: #4a4a4a;
    }

    
}

/** Aqui comienzan los estilos de location.html **/

#map{
  height: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/** Aqui comienzan los estilos de contact.html **/

.footer-es{
  background: #747474;
  padding: 1rem 0;
  text-align: center;
  margin-top: 10%;
  position: relative;
  bottom: 0;
  right: 0;
}